.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  width: 70%;
}

.kot Button{
  right: 2rem;
  color: white;
  float: right;
  padding: 10px 30px;
  background-color: #0088bc;
  font-weight: bold;
}
.kot Button:hover{
  background-color: #0088bc;

}


