.container{
    display: grid;
  align-items: center;
  justify-items: center;
    background-color: #e6f5fa;
    width: 400px;
    height: 300px;
    margin: auto;
   
}
/*End of container*/
.container .bookingselect #label{
    margin-bottom: 1rem;
}

.container .bookingselect select {   
    border: 2px solid #0088bc;
    width: 100%;
   height: 30px;
   font-size: 17px;
  }

/*End of Input form*/

.container .button1{   
    background-color:#0088bc;
    color: white;
    margin-right: 5rem;
}
.container .button2{   
    background-color:#0088bc;
    color: white;
    margin-left: 5rem;
}
.container .button1:hover{
    background-color:#0088bc;
    color: white;
}
.container .button2:hover{
    background-color:#0088bc;
    color: white;
}